aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
altair==5.5.0
altex==0.2.0
annotated-types==0.7.0
anyio==4.10.0
asn1crypto==1.5.1
attrs==25.3.0
beautifulsoup4==4.13.5
blinker==1.9.0
boto3==1.40.35
botocore==1.40.35
cachetools==6.2.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.3.0
cloudpickle==3.1.1
contourpy==1.3.3
cryptography==46.0.0
cycler==0.12.1
cython==3.1.4
dataclasses-json==0.6.7
distro==1.9.0
dnspython==2.8.0
entrypoints==0.4
eval-type-backport==0.2.2
faiss-cpu==1.12.0
faker==37.8.0
favicon==0.7.0
filelock==3.19.1
fonttools==4.60.0
frozenlist==1.7.0
gitdb==4.0.12
gitpython==3.1.45
h11==0.16.0
htbuilder==0.9.0
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
idna==3.10
invoke==2.2.0
jinja2==3.1.6
jiter==0.11.0
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.76
langchain-openai==0.3.33
langchain-text-splitters==0.3.11
langsmith==0.4.29
lxml==6.0.1
markdown==3.9
markdownlit==0.0.7
markupsafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.6
mistralai==1.9.10
multidict==6.6.4
mypy-extensions==1.1.0
narwhals==2.5.0
numpy==2.3.3
openai==1.108.1
orjson==3.11.3
packaging==25.0
pandas==2.3.2
pillow==11.3.0
platformdirs==4.4.0
plotly==6.3.0
prometheus-client==0.23.1
propcache==0.3.2
protobuf==6.31.1
pyarrow==21.0.0
pycparser==2.23
pydantic==2.11.9
pydantic-core==2.33.2
pydantic-settings==2.10.1
pydeck==0.9.1
pyjwt==2.10.1
pymdown-extensions==10.16.1
pymongo==4.15.1
pyopenssl==25.3.0
pyparsing==3.2.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
pyyaml==6.0.2
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
requests-toolbelt==1.0.0
rpds-py==0.27.1
s3transfer==0.14.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowflake-connector-python==3.17.3
snowflake-snowpark-python==1.39.0
sortedcontainers==2.4.0
soupsieve==2.8
sqlalchemy==2.0.43
st-annotated-text==4.0.2
st-theme==1.2.3
streamlit==1.49.1
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.7.8
streamlit-faker==0.0.4
streamlit-image-coordinates==0.4.0
streamlit-js-eval==0.1.7
streamlit-keyup==0.3.0
streamlit-notify==0.3.1
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
subprocess-run==0.0.8
tenacity==9.1.2
tiktoken==0.11.0
toml==0.10.2
tomlkit==0.13.3
tornado==6.5.2
tqdm==4.67.1
typing-extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.1
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
validators==0.35.0
wheel==0.45.1
yarl==1.20.1
zstandard==0.25.0
lilypond